.main-banner {
    margin-top: 30px;
    width: 100%;
    height: 450px;
}

h3 {
    color: #454545;
    font-size: 20px;
    margin: 10px 0;
}

.main-contents {
    margin-top: 80px;
}

.show-service, .show-guide, .sponsorship-guide {
    margin-top: 10px;
    font-size: 19px;
    font-weight: 500;
    color: #575757;
    line-height: 1.5;
}

.slide-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.slide-image img {
    width: 1280px;
}

.main-contents {
    width: 100%;
    margin-top: 160px;
}

.intro-section {
    /* width: 890px;
    margin-left: 130px; */
    font-size: 23px; 
}

.intro-title {
    font-size: 38px;
    font-weight: bold;
    margin-top: 20px;
    /* border: 1px solid #575757; */
}

.intro-content {
    font-size: 22px;
    font-weight: 400;
    margin-top: 30px;
    line-height: 1.5;
    /* border: 1px solid #575757; */
}

.introduce-container {
    display: flex;
    align-items: center;
    width: 1280px;
    height: 500px;
    margin-bottom: 120px;
}

.introduce-text {
    margin-left: 100px;
    color: #454545;
}

.introduce-map-img {
    margin-left: auto;
    margin-right: 40px;
}

.introduce-map-img img {
    width: 720px;
}

.introduce-img {
    margin-left: auto;
    margin-right: 100px;
}

.introduce-img img {
    width: 350px;
}