.memberHistory {
    width: 1080px;
    margin: 0 auto;
    margin-top: 80px;
}

.history-title {
    font-size: 22px;
    font-weight: 600;
}

.history-view-count {
    font-size: 16px;
    margin-top: 40px;
}

.memberHistory-container {
    margin-top: 10px;
}
 
.memberHistory-content {
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #D3D3D3;
    cursor: pointer;
}

.memberHistory-header {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: #ECE9E9; */
    color: #545454;
    background-color: #ffe9e4;
    font-weight: 600;
}

.header-number {
    width: 200px;
    text-align: center;
}

.header-history {
    width: 500px;
    text-align: center;
}

.header-type {
    width: 200px;
    text-align: center;

}

.header-date {
    width: 200px;
    text-align: center;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 20px;
}

.pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    width: 46px;
    height: 46px;
    background-color: #ffffff;
    font-size: 18px;
}

.pagination button.active {
    background-color: #FF9A9A;
    color: white;
    font-weight: 600;
}

.pagination button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}