.applicant-info-title {
    width: 180px;
    height: 78px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #ECECEC;
    color: #575757;
    font-size: 16px;
    font-weight: 500;
    padding-left: 30px;
    box-sizing: border-box;
}

.applicant-info-content {
    width: 350px;
    padding: 10px 0 10px 30px;
}

.signup-input-checkbox {
    height: 15px;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.signup-guide-milk {
    font-size: 12px;
    margin-top: 4px;
}