.header-bottom {
    height: 60px;
    display: flex;
    align-items: center; 
    color: #ffffff;
    background-color: #FFD7CD;
    padding-left: 100px;
    gap: 50px;
    font-size: 20px;
    font-weight: bold;
}

.header-bottom-content {
    cursor: pointer;
}